# Contact Form & Email Configuration
# Get your API key from https://resend.com
RESEND_API_KEY=
# The email address that will receive the contact form submissions
CONTACT_EMAIL=
# The email address that will be shown as the 'sender' (must be verified in Resend)
RESEND_FROM_EMAIL=

# Demo Configuration
NEXT_PUBLIC_DEMO_VIDEO_URL=https://www.youtube.com/embed/8l15YlvUVig

# PostHog Analytics
# Get your keys from https://posthog.com
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
